PORT=3000
NODE_ENV=development

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=autostand_db

# Obrigatorio. Usa uma string longa e aleatoria.
JWT_SECRET=trocar_por_uma_chave_longa_e_aleatoria
JWT_EXPIRES_IN=1h
